




extends _layouts/flare_page
include mixins/application-mixins
include angular/angular-mixins

block content
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js')
  script(src='http://coffeescript.org/extras/coffee-script.js')


  .application
    section.row
      div(ng-app="phonecatApp")

      div(ng-app="tm")
        span aaaa
      form(method='get', action='/flare/user/search')
        .search-field
            input.search-input#search-text(type='text', name='text', placeholder='Type keywords here', value=text)
        .search-field
            button.btn-search#search-button(type='submit')
                +search-icon

    section.row
      +test-article
      +test-article

   script(type='text/coffeescript').
     tm = angular.module("phonecatApp", [])
     console.log 'tm'
