//
   Created by diniscruz on 25/06/15.

mixin test-article
  article.result
    .summary
        +metadata
        a(href='/flare/article/1a613dd54e6a')
            h3#article-headline Perform a Security Design Inspection for Web Applications
        p The architecture and design review process analyzes the architecture and design from a security perspective. If you have just completed the design, the design documentation can help you with this process. Regardless of how comprehensive your design documentation is, you must be able to decompose your application and be able to identify key items, including trust boundaries, data flow, entry points, and privileged...