extends angular-page

block content
    script(src='/angular/jade/component/articles_list')
    script(src='/angular/jade/component/directory_list')
    script(src='/angular/jade/component/filters_div')
    script(src='/angular/jade/component/results')

    div(ng-controller="Jade-Controller")

        #application
        .row
            .col-3
                .lge-container
                    span(ng-bind-html="directory_list")
                    //+directory-list
            .col-6
                .lge-container
                    span(ng-bind-html="results")
                    span(ng-bind-html="articles_list")
                    //+breadcrumbs
                    //+results
                    //+articles-list
            .col-3
                .lge-container
                    span(ng-bind-html="filters_div")
                    //+filters-div