doctype html
html(lang='en')
    include ../../../TM_Jade/_layouts/head

    //link(rel="stylesheet" href="/angular/css/lib.css")
    script(src='/angular/js/lib.js')
    script(src='/angular/js/code.js')

    body
        include ../../../TM_Jade/_layouts/navbar_home

        block content

        script.
            angular.bootstrap(document, ["App"])
