//extends ../angular-page
doctype html
html(lang='en')
    include ../../../TM_Flare/_layouts/head
    link(rel="stylesheet" href="/angular/css/lib.css")
    script(src='/angular/js/lib.js')
    script(src='/angular/js/code.js')
    body
 
        div(ui-view='navbar')
        div(ui-view='content')

        script.
            angular.bootstrap(document, ["App"])