extends ../../../TM_Jade/_layouts/page_logged_out.jade

block content
    div(ng-controller="Select-Controller")
        #search-div
            .lge-container
                .row
                    .col-offset-2.col-8
                        #search-input
                            form(action='/search', method='GET')
                                label(for='search-input') Search...
                                .input-group
                                    input(type="text" ng-model="text" placeholder="Locations loaded via $http"
                                          typeahead="address for address in getLocation($viewValue)"
                                          typeahead-loading="loadingLocations"
                                          class="form-control")
                                    button#search-button(type='submit')
                                        +search-icon


        //link(rel="stylesheet" href="/angular/css/lib.css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/css/foundation.min.css" )
        script(src='/angular/js/lib.js')
        script(src='/angular/js/code.js')
        script.
            angular.bootstrap(document, ["App"])


