extends angular-page

block content
    script(src='/angular/jade/component/articles_list')
    script(src='/angular/jade/component/directory_list')
    script(src='/angular/jade/component/filters_div')
    script(src='/angular/jade/component/results')

    div(ng-controller="Jade-Controller")

        #application
        .row
            .col-3
                .lge-container
                    span(ng-bind-html="directory_list")
                    //+directory-list
            .col-6
                .lge-container
                    //+breadcrumbs
                    span(ng-bind-html="results")
                    span(ng-bind-html="articles_list")
                    //+results
                    //+articles-list
            .col-3
                .lge-container
                    span(ng-bind-html="filters_div")
                    //+filters-div

        //#search-div
            .lge-container
                .row
                    .col-offset-2.col-8
                        h1(tm-jade='aa:bb') simple test
                        pre {{test}}
                        pre ...
//block content
    h1 tm-jade-test